// colors
$primary: #0048D9;
$primary-light: #2B68E1;
$primary-dark: #003AAE;
$primary-onColor: #E9F6EE;

$secondary: #868893;
$secondary-light: #B7B8C0;
$secondary-dark: #686C79;

// sizes
$xs-size: 0.75rem; // 12px
$sm-size: 0.875rem; // 14px
$md-size: 1rem; // 16px (base font size)
$lg-size: 1.25rem; // 20px 
$xl-size: 1.5rem; // 24px
$xxl-size: 2rem; // 32px
